################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gyak1_1_Szambekeres_Cpp/Debug
/.vs/prog_ws/v16
/Gyak1_2_Ketszambekerese_Cpp/Debug
/Gyak1_3_abszolut_Cpp/Debug
/Gyak1_4_Nagyobbkisebb_Cpp/Debug
/Gyak1_5_szamok100/Debug
/Gyak1_6_Faktorialis/Debug
/Gyak1_7_Fizzbuzz/Debug
/Gyak1_8_Primszam/Debug
/Gyak1/Gyak1_1_Szambekeres_Cpp/Debug
/Gyak1/Gyak1_2_Ketszambekerese_Cpp/Debug
/Gyak1/Gyak1_3_abszolut_Cpp/Debug
/Gyak1/Gyak1_4_Nagyobbkisebb_Cpp/Debug
/Gyak1/Gyak1_5_szamok100_Cpp/Debug
/Gyak1/Gyak1_6_Faktorialis_Cpp/Debug
/Gyak1/Gyak1_7_Fizzbuzz_Cpp/Debug
/Gyak1/Gyak1_8_Primszam_Cpp/Debug
/Gyak2/Gyak2_1_Ketszambekeres/Debug
/Gyak2/Gyak2_2_Ugyanazaszam/Debug
/Gyak2/Gyak2_3_Negyzetkirajzolos/Debug
/Gyak2/Gyak2_4_Lepcso/Debug
