################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gyak1_1_Szambekeres_Cpp/Debug
/.vs/prog_ws/v16
/Gyak1_2_Ketszambekerese_Cpp/Debug
/Gyak1_3_abszolut_Cpp/Debug
/Gyak1_4_Nagyobbkisebb_Cpp/Debug
/Gyak1_5_szamok100/Debug
/Gyak1_6_Faktorialis/Debug
/Gyak1_7_Fizzbuzz/Debug
/Gyak1_8_Primszam/Debug
/Gyak1/Gyak1_1_Szambekeres_Cpp/Debug
/Gyak1/Gyak1_2_Ketszambekerese_Cpp/Debug
/Gyak1/Gyak1_3_abszolut_Cpp/Debug
/Gyak1/Gyak1_4_Nagyobbkisebb_Cpp/Debug
/Gyak1/Gyak1_5_szamok100_Cpp/Debug
/Gyak1/Gyak1_6_Faktorialis_Cpp/Debug
/Gyak1/Gyak1_7_Fizzbuzz_Cpp/Debug
/Gyak1/Gyak1_8_Primszam_Cpp/Debug
/Gyak2/Gyak2_1_Ketszambekeres/Debug
/Gyak2/Gyak2_2_Ugyanazaszam/Debug
/Gyak2/Gyak2_3_Negyzetkirajzolos/Debug
/Gyak2/Gyak2_4_Lepcso/Debug
*.log
Week11/05_LancoltListaRendez/x64/Debug/05_LancoltListaRendez.exe.recipe
Week11/05_LancoltListaRendez/x64/Debug/05_LancoltListaRendez.vcxproj.FileListAbsolute.txt
Week11/04_LancoltListaMegforditas/x64/Debug/04_LancoltListaMegforditas.vcxproj.FileListAbsolute.txt
Week11/04_LancoltListaMegforditas/x64/Debug/04_LancoltListaMegforditas.exe.recipe
Week11/TorlesFeltetelre/x64/Debug/TorlesFeltetelre.vcxproj.FileListAbsolute.txt
Week11/.vs/Week11/v16/.suo
Week11/.vs/Week11/v16/Browse.VC.db
Week11/.vs/Week11/v16/Browse.VC.db-shm
Week11/.vs/Week11/v16/Browse.VC.db-wal
Week11/.vs/Week11/v16/Browse.VC.opendb
Week11/.vs/Week11/v16/ipch/AutoPCH/1158dcea4ebb7cd/01_LANCLISTA.ipch
Week11/.vs/Week11/v16/ipch/AutoPCH/454f79551baae29/04_LANCOLTLISTAMEGFORDITAS.ipch
Week11/.vs/Week11/v16/ipch/AutoPCH/d276d991e93e9891/05_LANCOLTLISTARENDEZ.ipch
Week11/.vs/Week11/v16/Solution.VC.db
Week11/.vs/Week11/v16/Solution.VC.db-shm
Week11/.vs/Week11/v16/Solution.VC.db-wal
Week12/.vs/Week12/v16/Browse.VC.db
Week12/.vs/Week12/v16/Browse.VC.db-shm
Week12/.vs/Week12/v16/Browse.VC.db-wal
Week12/.vs/Week12/v16/Browse.VC.opendb
Week12/.vs/Week12/v16/ipch/AutoPCH/a874b5ca7b49f482/01_EZEGYFA.ipch
